.navigation_bar_top {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    max-width: 1920px;
    background-color: white;
}

.top_section {
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.bottom_section {
    height: 30px;
}

.top_section, .bottom_section {
    padding-left: 20px;
    padding-right: 60px;
    width: calc(100% - 80px);
    display: flex;
    flex-direction: row;
    box-shadow: 1px 5px 10px 2px rgba(195, 207, 212, 0.5);
}

.website_logo {
    width: 350px;
    height: 90px;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

.search_bar {
    display: flex;
    width: 800px;
}

.search_bar input {
    width: 720px;
    height: 50px;
    background-color: whitesmoke;
    border: 2px solid gray;
    box-sizing: border-box;
    font-size: 1.5rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 1px 5px 10px 2px rgba(145, 154, 158, 0.5);
}

.search_bar input:focus {
    outline: none;
    border-color: orange;
}

.search_bar button {
    width: 50px;
    height: 50px;
    background-color: rgba(21, 161, 226, 0.5);
    border: 2px gray solid;
    transition: ease-in-out 0.1s;
    border-left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 5px 10px 2px rgba(145, 154, 158, 0.5);
}

.search_bar button:hover {
    background-color: rgba(21, 161, 226, 0.7);
}

.search_bar button:active {
    background-color: rgb(247, 186, 72);
    color: white;
}

.account_button {
    width: 200px;
}

.shopping_cart_button {
    width: 200px;
}

.account_button, .shopping_cart_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 1.15rem;
    border: 1px white solid;
    box-shadow: 1px 5px 10px 2px rgba(244, 247, 247, 0.5);
}

.account_button:hover, .shopping_cart_button:hover {
    background-color: whitesmoke;
    scale: 1.05;
    transition: ease-in-out 0.3s;
    border: 1px white solid;
    border-radius: 10px;
}

.account_button:active, .shopping_cart_button:active {
    background-color: rgb(247, 186, 72);
    color: white;
    transition: ease-in-out 0.1s;
}