.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 256px);
    border-top: 2px solid orange;
}

.section_header {
    padding-left: 20px;
    padding-top: 0.5rem;
    width: 100%;
    font-size: 2.5rem;
    height: 3rem;
    color: red;
    margin-bottom: 0.5rem;
}

.section_content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.text_header_notifier {
    color: red;
    font-size: 4rem;
    margin-top: 20px;
}

.text_header {
    color: red;
    font-size: 2.5rem;
    margin-top: 20px;
}

.text {
    color: darkred;
    font-size: 2rem;
    margin-bottom: 20px;
}