.page {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: calc(100%);
    min-height: calc(1080px);
    background-color: white;
    padding-top: 200px;
}

.navigation_menu {

}

.navigation_menu_entry {
    
}
