.page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    min-height: 1080px;
    background-color: white;
    padding-top: 200px;
}

.no_licences_header {
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    margin-top: 100px;
    margin-bottom: 20px;
}  

.no_licences_message {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}